---
import type { CollectionEntry } from "astro:content";
import ArtistCard from "./ArtistCard.astro";
import Tooltip from "./Tooltip.astro";
import Separator from "../components/Separator.astro";

import { Image } from 'astro:assets';

import gamerGif from "/src/assets/images/gamer.gif";
import devicesGif from "/src/assets/images/devices.gif";
import portatilGif from "/src/assets/images/portatil.gif";
import translatorGif from "/src/assets/images/translator.gif";
import reciboGif from "/src/assets/images/recibo.gif";

type Props = {
  artists: CollectionEntry<"artists">[];
};

const { artists } = Astro.props;
const grid = "artists";
---


<div class="content-wrapper">
  <div class="content">
    <p>I've been localizing games across multiple platforms for over five years, and I've been a gamer since I could hold a controller.
    <br/>
    <br/>
    My journey has shown me that video games are one of the most intricate art forms of our time, which is why I'm deeply committed to <b>creating seamless experiences</b> for players worldwide, ensuring that every element of your game is <b>meticulously localized</b> to resonate with its audience.</p>
  </div>

  <br>
  <br>
  <br>
  <br>

  <h2>My services</h2>

  <ul class="pills">
    <li>Translation</li>
    <li>Localization</li>
    <li>Transcreation</li>
    <li>Editing</li>
    <li>Proofreading</li>
    <li>LQA</li>
  </ul>
  
  <ul class="services-grid">
    <li>
      <span>
        <Image src={gamerGif} alt="" width={64} height={64} />
        <h3>Gamer Vision</h3>
      </span>
      <p>Gamers don't settle for mediocrity—they recognize quality instantly. A well-designed game speaks to its audience and respects cultural and linguistic expectations. I bring the gamer's perspective your localization needs to truly succeed.</p>
    </li>
    <li>
      <span>
        <Image src={devicesGif} alt="" width={64} height={64} />
        <h3>PC, Consoles &amp; Mobile</h3>
      </span>
      <p>Years in the industry have given me a solid command of the terminology for every gaming platform.</p>
    </li>
    <li>
      <span>
        <Image src={portatilGif} alt="" width={64} height={64} />
        <h3>Glossary Creation</h3>
      </span>
      <p>I create glossaries and termbases from scratch to streamline your game's localization and minimize errors.</p>
    </li>
    <li>
      <span>
        <Image src={translatorGif} alt="" width={64} height={64} />
        <h3>Adaptation</h3>
      </span>
      <p>If your game is already localized into ESES (Spanish for Spain), I can adapt it to ESLA (Spanish for Latin America) to effectively reach your Latin American audience.</p>
    </li>
    <li>
      <span>
        <Image src={reciboGif} alt="" width={64} height={64} />
        <h3>CATs</h3>
      </span>
      <p>I work with MemoQ, Phrase, SmartCat, and many more.</p>
    </li>
  </ul>
</div>

<Separator />


<div class="content">
  <h2>Recent credited projects:</h2>
  <p>While much of my work is confidential due to non-disclosure agreements, I'm proud to share a selection below.</p>
</div>
<section class="artist-grid" id="grid" data-grid={grid}>
  {artists.map((artist) => <ArtistCard artist={artist} />)}
</section>

<!-- <Tooltip grid={grid} /> -->

<style>
  h2 {
    margin: 0;
    color: var(--color-text-alt);
  }
  
  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2rem 0;
    position: relative;
    width: 100%;
  }
  
  .services-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
    padding: 0;
    position: relative;
    gap: 2rem 3rem;
    break-inside: avoid;
    margin-bottom: 10px;
    @media screen and (max-width: 1600px) {
      justify-content: space-between;
    }
    @media screen and (max-width: 1000px) {
      gap: 1rem;
    }
    @media screen and (max-width: 600px) {
      gap: 0rem;
    }
  }

  li {
    width: 100%;
    max-width: var(--col-size-m);
    list-style-type: none;
  }

  li p {
    font-size: var(--font-size-s);
    margin: 0;
  }

  span {
    display: flex;
    gap: 1rem;
  }

  img {
    width: 4rem;
    height: 4rem;
    filter: grayscale(1);
  }

  .pills {
    display: flex;
    flex-wrap: wrap;
    gap: .875rem;
    padding: 0;
    margin: 2em 0 1em;
  }
  
  .pills li {
    border: 2px solid var(--border-color);
    width: auto;
    padding: 0.5rem .85rem;
    border-radius: 2rem;
    font-weight: 400;
    letter-spacing: .5px;
  }
</style>
