---
import type { CollectionEntry } from "astro:content";

type Props = {
  artist: CollectionEntry<"artists">;
};

const { artist } = Astro.props;
---

<!-- href={`/${artist.id}`} -->
<div>
  <a
    href={`/${artist.id}`}
    class="artist"
    data-stagename={artist.data.stage_name}
    data-name={artist.data.name}
    data-genre={artist.data.genre}
    data-astro-prefetch
    aria-label={artist.data.name}
  >
    <span style={`--image: url('${artist.data.image.src}');`}></span>
    <h3>
      {artist.data.name}
    </h3>
  </a>
</div>

<style>
  div {
    width: 100%;
  }
  
  a {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
    padding: 0 2rem 0 0;
    margin: 1px;
    text-decoration: none;
    border: 2px solid var(--border-color);
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    color: var(--color-text);
  }

  span {
    width: 10rem;
    height: 10rem;
    background-image: var(--image);
    background-size: cover;
    background-position: 50% 0%;
    aspect-ratio: 1;
  }

  h3 {
    margin: auto 0;
  }
</style>
