---
import type { CollectionEntry } from "astro:content";

type Props = {
  artist: CollectionEntry<"artists">;
};

const { artist } = Astro.props;
---

<!-- href={`/${artist.id}`} -->
<div>
  <a
    href={`/${artist.id}`}
    class="artist"
    data-stagename={artist.data.stage_name}
    data-name={artist.data.name}
    data-genre={artist.data.genre}
    data-astro-prefetch
    aria-label={artist.data.name}
  >
    <span style={`--image: url('${artist.data.image.src}');`}></span>
    <h3>
      {artist.data.name}
    </h3>
  </a>
</div>

<style>
  div {
    width: 100%;
  }
  
  a {
    --color: var(--color-text);
    --border: var(--border-color-alt);
    --transition: 0.1s cubic-bezier(.72,.35,.31,.74);
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
    padding: 0 2rem 0 0;
    margin: 1px;
    text-decoration: none;
    border: 2px solid var(--border);
    border-bottom: 3px solid var(--border);
    border-radius: .5vw;
    overflow: hidden;
    width: 100%;
    color: var(--color);
    transition: transform 0.1s var(--transition), box-shadow 0.1s var(--transition);
  }

  a:hover, a:focus {
    --color: var(--color-link);
    --border: var(--border-color-active);
    transform: translateY(-2px);
    box-shadow: 0px 2px 0 var(--border);
  }

  span {
    width: 10rem;
    height: 10rem;
    background-image: var(--image);
    background-size: cover;
    background-position: 50% 0%;
    aspect-ratio: 1;
    border-right: 2px solid var(--border-color-alt);

    @media screen and (max-width: 600px) {
      width: 5rem;
    height: 5rem;
    }
  }

  h3 {
    margin: auto 0;
  }
</style>
